@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        we make life easier .
    </p>
 <p>and create</p> <h3>Custom</h3><p>Software</p>
</article>

<aside>
    <h3>What's new</h3>
    <p>
        add master client
    </p>

</aside>
