@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        we make life easier.
    </p>
    create <b>custom</b> software.
</article>

<aside>
    <h3>What's new</h3>

    <p>add logo </p>
    <p>add claim</p>
    <p>add request </p>
    <p>project add column project manager of type user    </p>
    <p>add ticket book – travel desk</p>
    <p>add search in designation</p>
    <p>add master client</p>
</aside>
