@{
    ViewBag.Title = "Master";
}

<h2>Master</h2>

<p>
    @Html.ActionLink("Projects", "Index", "MasterProject")
</p>
<p>
    @Html.ActionLink("Clients", "Index", "MasterClient")
</p>
<hr />

<p>
    @Html.ActionLink("Designations", "Index", "MasterDesignation")
</p>
<p>
    @Html.ActionLink("Users", "Index", "MasterUsers")
</p>
