@*@using Syncfusion.Core;
@using Syncfusion.Shared.Mvc;
@using Syncfusion.ReportViewer.Mvc;*@

@{
    ViewBag.Title = "Reports";
        //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

<div style="width: 95%; height: 400px;">
    @{Html.Syncfusion().ReportViewer("report", (ReportViewerModel)ViewData["ReportModel"]).Render();}
</div>
